# BASIC EDA - {"CUSTOMER CHURN" DATASET}

## 1. Import Modules and Configuration Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

In [2]:
# PD Options

pd.set_option('display.min_rows', 5)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 4)

## 2. Import Dataset

In [3]:
data = pd.read_csv('cc_train.csv')
df = data.copy()

## 3. Basic EDA

### 3.1 Sample of the Dataset

In [4]:
df.sample(5)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
866,DE,131,area_code_408,no,no,0,94.4,80,16.05,215.1,101,18.28,179.7,108,8.09,13.1,9,3.54,2,no
3203,NY,77,area_code_510,no,no,0,124.1,92,21.10,214.9,131,18.27,241.3,132,10.86,13.7,3,3.70,0,no
1742,VT,101,area_code_415,no,no,0,136.2,92,23.15,220.9,110,18.78,196.9,116,8.86,13.3,7,3.59,3,no
3330,VA,68,area_code_415,no,yes,41,226.0,113,38.42,149.8,115,12.73,184.9,88,8.32,11.5,2,3.11,2,no
1651,WI,73,area_code_415,no,no,0,157.1,109,26.71,268.8,83,22.85,181.5,91,8.17,10.0,8,2.70,0,no

### 3.2 Shape of the Dataset

In [5]:
print(f'No. of Observations (rows) : {df.shape[0]}')
print(f'No. of Features (columns)  : {df.shape[1]}')

No. of Observations (rows) : 4250
No. of Features (columns)  : 20

### 3.3 Dataset Information

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          4250 non-null   object
 1   account_length                 4250 non-null   int64
 2   area_code                      4250 non-null   object
 3   international_plan             4250 non-null   object
 4   voice_mail_plan                4250 non-null   object
 5   number_vmail_messages          4250 non-null   int64
 6   total_day_minutes              4250 non-null   float64
 7   total_day_calls                4250 non-null   int64
 8   total_day_charge               4250 non-null   float64
 9   total_eve_minutes              4250 non-null   float64
 10  total_eve_calls                4250 non-null   int64
 11  total_eve_charge               4250 non-null   float64
 12  total_night_minutes            4250 non-null   float64
 13  total_night_calls              4250 non-null   int64
 14  total_night_charge             4250 non-null   float64
 15  total_intl_minutes             4250 non-null   float64
 16  total_intl_calls               4250 non-null   int64
 17  total_intl_charge              4250 non-null   float64
 18  number_customer_service_calls  4250 non-null   int64
 19  churn                          4250 non-null   object
dtypes: float64(8), int64(7), object(5)
memory usage: 664.2+ KB

### 3.4 Checking Any Missing Values in the Dataset

In [7]:
miss_cnt = df.isna().sum().reset_index().rename(columns={'index':'Features', 0:'Missing Count'})
miss_cnt['Missing PCT'] = miss_cnt['Missing Count'].apply(lambda x: (x/df.shape[0])*100)
miss_cnt

                         Features  Missing Count  Missing PCT
0                           state              0          0.0
1                  account_length              0          0.0
2                       area_code              0          0.0
3              international_plan              0          0.0
4                 voice_mail_plan              0          0.0
5           number_vmail_messages              0          0.0
6               total_day_minutes              0          0.0
7                 total_day_calls              0          0.0
8                total_day_charge              0          0.0
9               total_eve_minutes              0          0.0
10                total_eve_calls              0          0.0
11               total_eve_charge              0          0.0
12            total_night_minutes              0          0.0
13              total_night_calls              0          0.0
14             total_night_charge              0          0.0
15             total_intl_minutes              0          0.0
16               total_intl_calls              0          0.0
17              total_intl_charge              0          0.0
18  number_customer_service_calls              0          0.0
19                          churn              0          0.0

### 3.5 Checking Unique Values for Individual Features

In [8]:
unq_cnt = df.nunique().reset_index().rename(columns={'index':'Features', 0:'Unique Values'})
unq_cnt['Unique Values PCT'] = unq_cnt['Unique Values'].apply(lambda x: (x/df.shape[0])*100)
unq_cnt

                         Features  Unique Values  Unique Values PCT
0                           state             51             1.2000
1                  account_length            215             5.0588
2                       area_code              3             0.0706
3              international_plan              2             0.0471
4                 voice_mail_plan              2             0.0471
5           number_vmail_messages             46             1.0824
6               total_day_minutes           1843            43.3647
7                 total_day_calls            120             2.8235
8                total_day_charge           1843            43.3647
9               total_eve_minutes           1773            41.7176
10                total_eve_calls            123             2.8941
11               total_eve_charge           1572            36.9882
12            total_night_minutes           1757            41.3412
13              total_night_calls            128             3.0118
14             total_night_charge            992            23.3412
15             total_intl_minutes            168             3.9529
16               total_intl_calls             21             0.4941
17              total_intl_charge            168             3.9529
18  number_customer_service_calls             10             0.2353
19                          churn              2             0.0471

### 3.6 Checking Any Duplicate Records

In [9]:
print(f'Total No. of Duplicated Observations in the Dataset : {df.duplicated().sum()}')

Total No. of Duplicated Observations in the Dataset : 0

### 3.7 Generating Statistical Summary on Numerical Columns

In [10]:
df.describe()

,account_length,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000,4250.0000
mean,100.2362,7.6318,180.2596,99.9073,30.6447,200.1739,100.1765,17.0150,200.5279,99.8395,9.0239,10.2561,4.4264,2.7697,1.5591
std,39.6984,13.4399,54.0124,19.8508,9.1821,50.2495,19.9086,4.2712,50.3535,20.0932,2.2659,2.7601,2.4631,0.7452,1.3114
min,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
25%,73.0000,0.0000,143.3250,87.0000,24.3650,165.9250,87.0000,14.1025,167.2250,86.0000,7.5225,8.5000,3.0000,2.3000,1.0000
50%,100.0000,0.0000,180.4500,100.0000,30.6800,200.7000,100.0000,17.0600,200.4500,100.0000,9.0200,10.3000,4.0000,2.7800,1.0000
75%,127.0000,16.0000,216.2000,113.0000,36.7500,233.7750,114.0000,19.8675,234.7000,113.0000,10.5600,12.0000,6.0000,3.2400,2.0000
max,243.0000,52.0000,351.5000,165.0000,59.7600,359.3000,170.0000,30.5400,395.0000,175.0000,17.7700,20.0000,20.0000,5.4000,9.0000

### 3.8 Features Specific to a Datatype

In [11]:
print(f'Number of Unique Data Types : {df.dtypes.nunique()}')
print(f'Unique Data Types : {df.dtypes.unique().tolist()}')

Number of Unique Data Types : 3
Unique Data Types : [dtype('O'), dtype('int64'), dtype('float64')]

In [12]:
fea_flo = df.select_dtypes(include='float64').columns.values.tolist()
fea_int = df.select_dtypes(include='int64').columns.values.tolist()
fea_obj = df.select_dtypes(include='object').columns.values.tolist()

print(f'Float Type Features    : {len(fea_flo)} \n{fea_flo} \n\n')
print(f'Integer Type Features  : {len(fea_int)} \n{fea_int} \n\n')
print(f'Object Type Features   : {len(fea_obj)} \n{fea_obj}')

Float Type Features    : 8
['total_day_minutes', 'total_day_charge', 'total_eve_minutes', 'total_eve_charge', 'total_night_minutes', 'total_night_charge', 'total_intl_minutes', 'total_intl_charge']


Integer Type Features  : 7
['account_length', 'number_vmail_messages', 'total_day_calls', 'total_eve_calls', 'total_night_calls', 'total_intl_calls', 'number_customer_service_calls']


Object Type Features   : 5
['state', 'area_code', 'international_plan', 'voice_mail_plan', 'churn']